#register {
    color: aliceblue;
    text-align: center;
    margin-top: 100px;
    position: relative;
}

#text {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
}

#container {
    width: 35%;
    height: 50%;
    margin: 0 auto;
}

.field {
    width: 100%;
}

span {
    cursor:pointer;
    color:blue;
    text-decoration:none;
}

span:hover {
    text-decoration:underline;
}

#inline {
    display: inline-block;
}

.form-check-input {
    transform: scale(1.1);
    margin-top: 4px;
}

.form-check.form-check-inline {
    margin-bottom: 15px;
}


.error {
    color:#4422db;
    font-size: 1em;
    display: inline;
}

#sudo {
    color:#4422db;
    font-size: 1em; 
    transform: translate(0, -10px);
    margin-bottom: 0;
}

.error:hover {
    text-decoration: none;
}

.form-check {
    margin-top: 10px;
}

.form-check-label1 {
    transform: scale(1.5);
    margin-left: 20px;
}

.form-check-label2 {
    transform: scale(1.5);
    margin-left: 10px;
}
