h3 {
    text-align: center;
    color: aliceblue;
}

.ui.container {
    margin-top: 100px;
    width: 30%;
    justify-content: center;
}

.ui.button:hover {
    background-color: rgb(44, 103, 107);
}