#content {
    position: relative;
    color: aliceblue;
    text-align: center;
}

dt {
    float: left;
    clear: left;
    margin-right: 5px;
    font-weight: bold;
    padding: 10px;
}
  
dd {
    margin-left: 0px;
    padding: 10px;
}

.dl.list1 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
    position: relative;
    color: aliceblue;
    font-size: 1.5vw;
    padding: 20px;
    border-radius: 10px;
    transition: 1s;
}

#hr {
    border-top: 1px solid aliceblue;
}

.dl.list:hover {
    transform: scale(1.1);
}

.ui.button {
    border-radius: 5px;
    margin-left: 2%;
}

#reset {
    color: black;
}

.info-box {
    width: 38%;
    margin: 5%;
    display: inline-block;
}

#button-block {
    display: inline-block; 
    width: 86%;
    text-align: right;
}






