.profile.form {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
    position: relative;
    color: aliceblue;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 35%;
    font-size: 1.3vw;
}

#formControl {
    margin-bottom: 10px;
}

